<div class="container-fluid bg-2">
    <div class="row">
        <div class="col-md-6 col-sm-12">

            <div class="row">
                <div class="col-md-6 col-sm-6 display_none_sm">
                    <div class="row ">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-2 col-sm-2">
                            <p class="font-20 font-white">
                                <marquee direction="down" scrolldelay="100" class="font-white font-vertical">
                                    Angular Developement &nbsp; &nbsp; &nbsp;
                                    javascript Development &nbsp; &nbsp; &nbsp;
                                    Bootstrap &nbsp; &nbsp; &nbsp;
                                    CSS HTML &nbsp; &nbsp; &nbsp;
                                </marquee>
                            </p>
                        </div> <!--marquee 1-->
                        <div class="col-md-2">
                            <div class="vertical-bar-1"></div>
                        </div> <!--vertical bar 1-->
                        <div class="col-md-2">
                            <p class="font-20 font-white">
                                <marquee direction="down" scrolldelay="150" class="font-white font-vertical"
                                    style="height: 95%;">
                                    Responsive Websites &nbsp; &nbsp;
                                    Single Page Aplications &nbsp; &nbsp;
                                    Deployemnts &nbsp; &nbsp;
                                    Agile Methology &nbsp; &nbsp;
                                </marquee>
                            </p>
                        </div> <!--marquee 2-->
                        <div class="col-md-2">
                            <div class="vertical-bar-1 width-50"></div>
                        </div> <!--vertical bar 2-->
                        <div class="col-md-2">
                            <p class="font-20 font-white">
                                <marquee direction="up" scrolldelay="150" class="font-white font-vertical"
                                    style="height: 95%;">
                                    Canva &nbsp; &nbsp;
                                    Postman &nbsp; &nbsp;
                                    Jira &nbsp; &nbsp; &nbsp;
                                    Visual Studio Code &nbsp;&nbsp;&nbsp;
                                    Git and Git Hub &nbsp; &nbsp;&nbsp;
                                    DevOps &nbsp; &nbsp; &nbsp;
                                </marquee>
                            </p>
                        </div><!--marquee 3-->
                        <div class="col-md-1"></div>

                    </div>



                </div><!--text decor-->



                <div class="col-md-6 col-sm-10">
                    <p class="font-white font-24 font-500 display_none_md text-center top-margin-large">Hi There !</p>
                    <p class="font-white font-24 font-500 display_none_md text-center">I am Rutuja R. Mule</p>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <div class="img-container">
                                <div class="img-class">
                                    <img src="../assets/WhatsApp Image 2024-06-24 at 11.21.35 AM.jpeg" alt="profile_img"
                                        height="100%" width="100%" style="border-radius: 10%;">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-1"></div> -->
                    </div>
                </div><!--img conatiner-->
            </div>


        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7 col-sm-12">
                    <div class="right-container">
                        <div class="description-container">
                            <p class="font-white font-lg font-600 display_none_sm ">Hi There !</p>
                            <p class="font-white font-lg font-600 display_none_sm">I am Rutuja R. Mule</p>
                            <p class="font-white font-24 font-400">I am a web developer with 4 years of experience in
                                creating ,managing userfriendly single page and websites. My skills include coding in
                                HTML, CSS, and JavaScript, as well as Angular and React Js Frameworks</p>
                            <p class="font-white font-20 font-400 text-center">Know more about ME !</p>
                            <div>
                                <hr class="font-white">
                            </div>
                            <div class="top-margin-medium text-center">
                                <div class="dots"></div>
                                <div class="dots"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div> <!--Description-->
    </div>
</div>