/* You can add global styles to this file, and also import other style files */

.front-header{
    height: 250px;
}
.width-100{
    width: 100%;
}
.width-50{
    width: 50% !important;
}
.bg-1{
    background-image: linear-gradient(to right, rgb(47, 30, 107) ,rgb(25, 12, 70),rgb(19, 7, 65), rgb(5, 2, 14));
}
.bg-2{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,117,1) 52%, rgba(0,212,255,1));
    }
.height-1{
    height: 1.5px;
}

/* fonts stylings */
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-lg {
    font-size: 42px;
}

.font-400{
    font-weight: 400;
}
.font-500{
    font-weight: 500;
}
.font-600{
    font-weight: 600;
}
.font-white{
    color: whitesmoke;
    box-shadow: 0.1 0.1 0.1 0.1 whitesmoke;
}
.font-vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0px;
    padding: 0px;
}
/* fonts stylings */

/* text margins */

.margin-sm{
    margin:10px;
}
    
.top-margin-small{
    margin-top:10px !important;
}
.top-margin-medium{
    margin-top:20px !important;
}
.top-margin-large{
    margin-top:30px !important;
}

.bottom-margin-small{
    margin-bottom:10px !important;
}
.bottom-margin-medium{
    margin-bottom:20px !important;
}
.bottom-margin-large{
    margin-bottom:30px !important;
}

.left-margin-small{
    margin-left:10px !important;
}
.left-margin-medium{
    margin-left:20px !important;
}
.left-margin-large{
    margin-left:30px !important;
}

.right-margin-small{
    margin-right:10px !important;
}
.right-margin-medium{
    margin-right:20px !important;
}
.right-margin-large{
    margin-right:30px !important;
}

/* text margins */

/* text padding */

.top-padding-small{
    padding-top: 10px !important;
}
.top-padding-medium{
    padding-top: 20px !important;
}
.top-padding-large{
    padding-top: 30px !important;
}

.bottom-padding-small{
    padding-bottom: 10px !important;
}
.bottom-padding-medium{
    padding-bottom: 20px !important;
}
.bottom-padding-large{
    padding-bottom: 30px !important;
}

.left-padding-small{
    padding-left: 10px !important;
}
.left-padding-medium{
    padding-left: 20px !important;
}
.left-padding-large{
    padding-left: 30px !important;
}

.right-padding-small{
    padding-right: 10px !important;
}
.right-padding-medium{
    padding-right: 20px !important;
}
.right-padding-large{
    padding-right: 30px !important;
}
/* text padding */

/* .dots{
    display: inline !important;
    height: 7px;
    width: 5px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid white;
    color: whitesmoke;
} */

.dots{
    display: inline !important;
    /* padding: 2px 11px; */
    margin: 10px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    box-shadow: 0 6px 20px 0 rgb(151, 143, 180);
    color: whitesmoke;
}
.display_none_md{
    display: none;
}
@media only screen and (max-width: 600px) {
    .display_none_sm{
        display: none;
    }
    .display_none_md{
        display: block;
    }
    
  }

